{% extends "dashboard/base.html"%}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Synth Paper Broker</title>
    <link rel="stylesheet" href="{% static 'PaperTrade/css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* You can also include inline styles or additional CSS here */
    </style>

</head>
<body>
    <!-- Your HTML content -->
    <script src="{% static 'PaperTrade/js/scripts.js' %}"></script>
</body>
</html>
